:root {
  --copper-red: #c46d5eff;
  --timberwolf: #ddd5d0ff;
  --outer-space-crayola: #2d3a3aff;
  --maximum-green: #548c2fff;
  --dutch-white: #dbd5b5ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
